

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');





body {
  /* font-family: 'Do Hyeon', sans-serif; */
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  color: hotPink;
  background: url("file:///Users/anh/Downloads/white-animated.gif");
  background-position: title;

}

.square{
  line-height: 100%;
}


#headerImgContainer {
  margin: 0 auto;
  /* width: 236px; */
}


#headerImgContainer2 {
  margin: 0 auto;
  float: right;
}


#players {
  float: left;
  font-size: 30px;
}


button {
  float: right;
  font-size: 15px;
  font-weight: bold;
  color: hotPink;
  border-radius: 50px;
  border: 2px solid #E175AD;
  outline: none;
}


button:hover {
  background: #8FC7C2;
}


h1 {
  text-align: center;
}

/* table {
  width: 30%;

} */
td {
  width: 130px;
  height: 130px;
  text-align: center;
  /* padding-top: 30px; */
  vertical-align: middle;
  border: 6px solid #222;
}


tr {
  text-align: center;
  /* padding-top: 30px; */
}

table {
  border-collapse: collapse;
  color: hotpink;
  font-size: 60px;
  font-family: 'Permanent Marker', cursive;
  table-layout:fixed !important;
  position:fixed;
  margin-left:-200px;
  margin-top:-150px;
  top:40%;
  left:50%;
  width: 30%;

}
/*
td {
  border: 6px solid #222;
} */

td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}
td:nth-of-type(2) {
  border-top-color: transparent;
}
td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}
tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}


iframe {
  display: none;
}


footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 60px;   /* Height of the footer */
   text-align: center;
   font-family: 'Indie Flower', cursive;
}
