@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  color: hotPink;
  background: url("../img/background-gif.gif");
  background-position: title;
}

#alert {
  display: none;
  position: absolute;
  margin-left: 40%;
  top: 15vh;
  left: 33vw;
  height: 250px;
  outline: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  vertical-align: middle;
  width: 330px;
  border: 4px solid #E175AD;
  font-size: 60px;
  z-index: 2;
  color: #8A7BEA;
  border-radius: 60px;
}

.square {
  line-height: 100%;
}


@keyframes blink { /* make SAW img blinking */
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#headerImgContainer {
  margin: 0 auto;
  padding-left: 30px;
  animation: blink 5s;
  animation-iteration-count: infinite;
}

#players {
  float: left;
  color: #14A369;
  font-size: 35px;
  padding-left: 25px;
}

button {
  float: right;
  margin-right: 100px;
  font-size: 35px;
  font-weight: bold;
  color: #E48D3F;
  border-radius: 50px;
  border: 4px solid #E175AD;
  outline: none;
}

button:hover {
  background: #8FC7C2;
}

h1 {
  text-align: center;
  color: #3A9FF8;
}

td {
  width: 130px;
  height: 130px;
  text-align: center;
  vertical-align: middle;
  border: 6px solid #222;
}

tr {
  text-align: center;
}

table {
  border-collapse: collapse;
  color: hotpink;
  font-size: 60px;
  table-layout: fixed !important;
  position: fixed;
  margin-left: -220px;
  margin-top: -150px;
  top: 40%;
  left: 50%;
  width: 30%;
}


/* create borderless effect */
td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

td:nth-of-type(2) {
  border-top-color: transparent;
}

td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

/* hide youtube video */
iframe {
  display: none;
}


footer {
  position: absolute;
  clear: both;
  bottom: 0;
  width: 100%;
  height: 70px; /* height of the footer */
  text-align: center;
  font-weight: bold;
  color: #3074DF;
  font-weight: 900;
  font-size: 20px;
}
