@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body {
  /* font-family: 'Do Hyeon', sans-serif; */
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  color: hotPink;
  background: url("../img/background-gif.gif");
  background-position: title;
}

#alert {
  display: none;
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  margin-left: 40%;
  top: 15vh;
  left: 33vw;
  height: 250px;
  outline: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  vertical-align: middle;
  width: 330px;
  border: 3px solid hotpink;
  font-size: 60px;
  z-index: 2;
  color: #8A7BEA;
  border-radius: 60px;
}

.square {
  line-height: 100%;
}

#headerImgContainer {
  margin: 0 auto;
  padding-left: 30px;
  /* width: 236px; */
}

#players {
  float: left;
  color: #E175AD;
  font-size: 35px;
  padding-left: 65px;
}

button {
  float: right;
  margin-right: 110px;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  color: #E48D3F;
  border-radius: 50px;
  border: 2px solid #E175AD;
  outline: none;
}

button:hover {
  background: #8FC7C2;
}

h1 {
  text-align: center;
  color: #3A9FF8;
}

td {
  width: 130px;
  height: 130px;
  text-align: center;
  /* padding-top: 30px; */
  vertical-align: middle;
  border: 6px solid #222;
}

tr {
  text-align: center;
  /* padding-top: 30px; */
}

table {
  border-collapse: collapse;
  color: hotpink;
  font-size: 60px;
  font-family: 'Permanent Marker', cursive;
  table-layout: fixed !important;
  position: fixed;
  margin-left: -220px;
  margin-top: -150px;
  top: 40%;
  left: 50%;
  width: 30%;
}

td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

td:nth-of-type(2) {
  border-top-color: transparent;
}

td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

iframe {
  display: none;
}

footer {
  position: absolute;
  clear: both;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Height of the footer */
  text-align: center;
  font-weight: bold;
  color: #3074DF;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}